
.cursor-pointer{
    cursor:pointer
}

.text-align-start{
    text-align: start;
}

.text-align-center{
    text-align: center;
}

.header{
    font-size: 30px;
    font-weight: bold;
    color:crimson;
    text-align: center;
}

.sub-header{
    font-size: 18px;
    font-weight: bold;
}

